html {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

body {
    background: rgba(77,77,77,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(77,77,77,1) 0%, rgba(20,20,20,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(77,77,77,1)), color-stop(100%, rgba(20,20,20,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(77,77,77,1) 0%, rgba(20,20,20,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(77,77,77,1) 0%, rgba(20,20,20,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(77,77,77,1) 0%, rgba(20,20,20,1) 100%);
    background: radial-gradient(ellipse at center, rgba(77,77,77,1) 0%, rgba(20,20,20,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#141414', GradientType=1 );
    background: url('https://cdn.tutsplus.com/active/uploads/legacy/flashtuts/042_ApplePreloader/2.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.textEditBox {
    width: 500px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #4d4d4d;
    background-color: #ededed;

    -webkit-box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.75);

    font-size: 20pt;
    color: #4d4d4d;
}

.compositionBox {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;

    font-family: 'Raleway', sans-serif;
    font-size: 13pt;
    padding: 4px;
    margin: 10px;

    -webkit-appearance: none;
    outline: none;
}

.compositionBox:focus {
    border: 1px solid #0094ff;
}

.userId {
    color: #0094ff;
}

ul {
    padding: 0px;
    list-style-type: none;
}

li:first-child {
    border-top: 1px solid #ddd;
}

li {
    padding-left: 30px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    opacity: 0.8;
}

li:hover {
    transition: 0.2s ease;
    padding-left: 32px;
    opacity: 1.0;
}


li:nth-child(odd) {
    background-color: #efefef;
}
